 search{
        display: flex;
    	justify-content: center;
    	align-items: stretch;
    	height: 40px;
        }
        .container{
	
		}
        .middle_center_wrapper{
        display:inline-block;
   	    width: 60%;
   	    margin-left: 2rem;
        }

        
       
        .middle{
        	    padding-top: 10px;
        	
        }
        .content{
        	
        }
        .center_wrapper{

        z-index:1;
     	width: 100%;
    	height: 100%;
    	position: fixed;
    	top: 0;
    	left: 0;
    	display: flex;
    	align-items: center;
    	justify-content: center; 
    	overflow: auto;   
    	}
        .center{
        	
        	
        }
        .top{
       	
        	
        }
         .selected{
        	background-color:green;
        }
        .wrapper{
        margin: auto;
    	width: 75%;
        }
        .test{
        	width:400px;
        	
        	display:inline-block;
        	background-color:#fff223;
        	float:left;
        	height:300px;
        	margin:20px 20px 0 0;

        }
        .logo{

            padding-left:15px; 
            
        }
          @media (max-width:1070px) {
             .middle_center_wrapper{
                width: 100%;
                margin:0;
                }
          }
