.selected{
   background-color:green;
}
iframe{
    border-width: 2px;
    margin-left: -2px;
}
.subt{
   margin-bottom: 10px;
   display: inline-block;
   border: 1px solid rgb(0, 183, 90);
   cursor: pointer; color: rgb(255, 255, 255);
   border-radius: 3px;
   background-color: #00B75A;
   margin-left: 4px; 
}
.text{
   text-align:center;
}
.test{
   width: 60%;
   background-color:#fff;
   margin: auto;
}