.selected{
   background-color:green;
}
iframe{
    border-width: 2px;
    margin-left: -2px;
    width: 70%;
    height: 355px;
}
.description{
    width: 29%;
    float: right;
    height: 351px;
    overflow: auto;
}
@media (max-width: 965px) {
  iframe{
   width:100%;
  }
  .description{
    float:none;
    height: auto;
    width: 100%;
    overflow-x: hidden;
  }
}
.subt{
   margin-bottom: 10px;
   display: inline-block;
   border: 1px solid rgb(0, 183, 90);
   cursor: pointer; color: rgb(255, 255, 255);
   border-radius: 3px;
   background-color: #00B75A;
   margin-left: 4px; 
}
.text{
   text-align:center;
}
.test{
   width: 60%;
   background-color:#fff;
   margin: auto;
}
