    input{
    padding: 1px;
    font-size: 15px;
    border: 1px solid rgba(80, 147, 150, 0.5);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    color: #333;
    width: 85%;
    text-indent: 35%;
    text-align: justify;
    }
        button{
        	width:15%;
        	position: relative;
          display: inline-block;
          font-size: 90%;
          font-weight: 700;
          color: rgba(80, 147, 150, 1);
          text-decoration: none;
          text-shadow: 0 -1px 2px rgba(0,0,0,.2);
          padding: .5em 1em;
          padding-left: 10px;
          outline: none;
          border-radius: 10px;
          background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
          box-shadow:
          0 1px rgba(255,255,255,.2) inset,
          0 3px 5px rgba(0,1,6,.5),
          0 0 1px 1px rgba(0,1,6,.2);
          transition: .2s ease-in-out;
          }
      button :hover:not(:active) {
          background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
      }
      button:active {
      background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
      box-shadow:
      0 0 1px rgba(0,0,0,.5) inset,
      0 2px 3px rgba(0,0,0,.5) inset,
      0 1px 1px rgba(255,255,255,.1);
      }
      