*{
  padding: 0;
  margin: 0;
}
a{text-decoration: none;
color: rgb(0, 0, 0);}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body, html {
    	height: 100%;
}
my-app{
			height: 100%;
}
body{
        	position: relative
 }
 .buttons{
        	width: 17%;
        	height:3.8rem;
        	font-size: 190%;
        	padding:0;
        	margin:0;
        	border-width:1px;
}

.content_wrapper::-webkit-scrollbar{
	 width:0;
}
.date{
    text-align: right;
}
.title{
text-align: center;
}
.iframe{
height: 355px;
}


.content_wrapper{    
    float: left;
    display: inline-block;
    position: relative;
    background: rgba(231, 255, 238, 0.67);
    overflow-y: auto;
    overflow-x: hidden;
    height: 1100px;
    width: 320px;
    padding: 20px;
    padding-top: 0;
    padding-right: 26px;
    margin-top: 20px;
        
}
.cardOfVideo{
          transition: all 0.5s ease;
              width: 100%;
              display: block;
              background-color: rgb(255, 255, 255);
              font: -webkit-small-control;
              border: ridge rgba(80, 147, 150, 0.5);
              border-width: 1px 2px;
}
@media  (min-width:150px) and (max-width:800px) {

 .content_wrapper{
            margin:0;
            padding: 0;
             
            }
            .cardOfVideo{
              border-width: 0;
              border-width: 1px 0px;
            }
  
}  
@media  (max-width: 1400px){
          .content_wrapper{
            float: left;

          }
        }
           @media (max-width: 1280px) {
      .content_wrapper{
            float: right;
          }
          }
            @media (max-width: 965px) {
      .content_wrapper{
            float: right;
          }
  /*.cardOfVideo{
            width: 100%;
            border-width: 1px 0px;
          }*/